{
    "x-generator": "NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))",
    "openapi": "3.0.0",
    "info": {
      "title": "AcumiData API",
      "description": "MLS, Title, and Valuation API",
      "contact": {
        "name": "AcumiData Support",
        "email": "support@acumidata.com"
      },
      "version": "v1",
      "x-logo": {
        "url": "https://www.acumidata.com/images/logo.png",
        "altText": "AcumiData Logo"
      }
    },
    "servers": [
      {
        "url": "https://api.acumidata.com"
      }
    ],
    "paths": {
      "/api/Account/login": {
        "post": {
          "tags": [
            "Account"
          ],
          "summary": "User login post method",
          "operationId": "Account_Login",
          "requestBody": {
            "x-name": "model",
            "description": "The model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginViewModel"
                }
              }
            },
            "required": true,
            "x-position": 1
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ServiceResponseOfAuthenicatedUser"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Account": {
        "get": {
          "tags": [
            "Account"
          ],
          "summary": "Logout the user.",
          "operationId": "Account_LogOut",
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "security": [
            {
              "apikey": []
            }
          ]
        },
        "post": {
          "tags": [
            "Account"
          ],
          "summary": "Forgot the password.",
          "operationId": "Account_ForgotPassword",
          "requestBody": {
            "x-name": "model",
            "description": "The model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserNameModel"
                }
              }
            },
            "required": true,
            "x-position": 1
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/UserNameModel"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Account/ForgetUsername": {
        "post": {
          "tags": [
            "Account"
          ],
          "summary": "Forgot user name",
          "operationId": "Account_UserForgotUsername",
          "requestBody": {
            "x-name": "model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddressModel"
                }
              }
            },
            "required": true,
            "x-position": 1
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ServiceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Comps/advantage/{id}": {
        "get": {
          "tags": [
            "Comps"
          ],
          "summary": "Retrieve a previous RELAR Comps report",
          "operationId": "Retrieve a previous RELAR Comps report",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CompResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Comps/advantage": {
        "get": {
          "tags": [
            "Comps"
          ],
          "summary": "Get RELAR Comps",
          "operationId": "Comps_Get",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "city",
              "in": "query",
              "description": "The city for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "state",
              "in": "query",
              "description": "The state for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            },
            {
              "name": "landUse",
              "in": "query",
              "description": "The Land Use Code to restrict comps to (SFR/CONDO/TOWNHOUSE/FARM/MOBILE)",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 5
            },
            {
              "name": "date",
              "in": "query",
              "description": "The target report date",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 6
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CompResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Comps/advantageradius": {
        "get": {
          "tags": [
            "Comps"
          ],
          "operationId": "Comps_GetRadius",
          "parameters": [
            {
              "name": "Radius",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "IncludeBirdseye",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "LandUse",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "Date",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            },
            {
              "name": "StreetAddress",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 5
            },
            {
              "name": "Zip",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 6
            },
            {
              "name": "City",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 7
            },
            {
              "name": "State",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 8
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CompRadiusResponseView"
                  }
                }
              }
            },
            "404": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Comps/advantageradius/{id}": {
        "get": {
          "tags": [
            "Comps"
          ],
          "summary": "Retrieved saved response for Comps by Radius        ///",
          "operationId": "Comps_GetCompRadius",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "Request Id found and returned response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CompRadiusResponseView"
                  }
                }
              }
            },
            "404": {
              "description": "Request Id were not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Comps/advantagepolygon": {
        "get": {
          "tags": [
            "Comps"
          ],
          "summary": "Get Comps by Polygon",
          "operationId": "Comps_GetPolygon",
          "parameters": [
            {
              "name": "Polygon",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "IncludeBirdseye",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "LandUse",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "Date",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            },
            {
              "name": "StreetAddress",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 5
            },
            {
              "name": "Zip",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 6
            },
            {
              "name": "City",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 7
            },
            {
              "name": "State",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 8
            }
          ],
          "responses": {
            "200": {
              "description": "Address were found and returned response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CompPolygonResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Comps/advantagepolygon/{id}": {
        "get": {
          "tags": [
            "Comps"
          ],
          "summary": "Get Comps Polygon by id\nGet it saved response.",
          "operationId": "Comps_GetCompPolygon",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "Address were found and returned response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CompPolygonResponseView"
                  }
                }
              }
            },
            "404": {
              "description": "Address were not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Equity/advantage/{id}": {
        "get": {
          "tags": [
            "Equity"
          ],
          "summary": "Retrieve a previous Equity Calculator report",
          "operationId": "Equity_Get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EquityResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Equity/advantage": {
        "get": {
          "tags": [
            "Equity"
          ],
          "summary": "Get a new Equity Calculator report",
          "operationId": "Equity_Get2",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "city",
              "in": "query",
              "description": "The city for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "state",
              "in": "query",
              "description": "The state for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EquityResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Listings/{product}": {
        "get": {
          "tags": [
            "Listings"
          ],
          "summary": "Create a new listing order",
          "operationId": "Listings_CreateOrder",
          "parameters": [
            {
              "name": "product",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "x-position": 1
            },
            {
              "name": "streetAddress",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "zip",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "city",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            },
            {
              "name": "state",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 5
            },
            {
              "name": "zipCodes",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 6
            },
            {
              "name": "refId",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 7
            },
            {
              "name": "startDate",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 8
            },
            {
              "name": "endDate",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 9
            },
            {
              "name": "statuses",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 10
            },
            {
              "name": "fipsCode",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 11
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Listings/{product}/{id}": {
        "get": {
          "tags": [
            "Listings"
          ],
          "summary": "Get existing listing order",
          "operationId": "Listings_GetOrder",
          "parameters": [
            {
              "name": "product",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "x-position": 1
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Listings/delta/{id}": {
        "get": {
          "tags": [
            "Listings"
          ],
          "summary": "Retrieve a previous Listings Delta Report",
          "operationId": "Listings_Get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ListingResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Listings/delta-zip": {
        "get": {
          "tags": [
            "Listings"
          ],
          "summary": "Get a new Listings Delta Report By Zip Code.",
          "operationId": "Listings_GetByZip",
          "parameters": [
            {
              "name": "zipCodes",
              "in": "query",
              "description": "The zip codes separated by comma",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "refId",
              "in": "query",
              "description": "The reference identifier.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "startDate",
              "in": "query",
              "description": "The start date.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "endDate",
              "in": "query",
              "description": "The end date.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            },
            {
              "name": "statuses",
              "in": "query",
              "description": "The statuses.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 5
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ListingResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Listings/delta-fips": {
        "get": {
          "tags": [
            "Listings"
          ],
          "summary": "Get a new Listings Delta Report By FIPS Code.",
          "operationId": "Listings_GetByFips",
          "parameters": [
            {
              "name": "fipsCode",
              "in": "query",
              "description": "The FIPS code.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "startDate",
              "in": "query",
              "description": "The start date.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "endDate",
              "in": "query",
              "description": "The end date.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "statuses",
              "in": "query",
              "description": "The statuses.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            },
            {
              "name": "refId",
              "in": "query",
              "description": "The reference identifier.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 5
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ListingResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Listings/feed": {
        "get": {
          "tags": [
            "Listings"
          ],
          "summary": "Get MLS Data Feed",
          "operationId": "Listings_GetFeed",
          "parameters": [
            {
              "name": "startTimeStamp",
              "in": "query",
              "description": "Start EPOCH time stamp, example 1710720000 (Human readable date: 03/18/2024 12:00:00 AM",
              "schema": {
                "type": "integer",
                "format": "int64",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "state",
              "in": "query",
              "description": "US State Code, example FL",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "endTimeStamp",
              "in": "query",
              "description": "Optional parameters, end EPOCH time stamp.",
              "schema": {
                "type": "integer",
                "format": "int64",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "extractType",
              "in": "query",
              "description": "Optional parameters, full for initiate request.",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            },
            {
              "name": "transactionId",
              "in": "query",
              "description": "Optional parameters, transaction id is required when extracttype = null",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 0
              },
              "x-position": 5
            },
            {
              "name": "pagesize",
              "in": "query",
              "description": "Required parameters, page size of the listing.",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 0
              },
              "x-position": 6
            }
          ],
          "responses": {
            "200": {
              "description": "MLSFeedData",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MLSFeedData"
                  }
                }
              }
            },
            "204": {
              "description": "MLSFeedData",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MetadataV4"
                  }
                }
              }
            }
          }
        }
      },
      "/api/MLS/Photos/{parcelId}": {
        "get": {
          "tags": [
            "MLS"
          ],
          "summary": "Retrieve an existing MLS Photo details by parcel ID.",
          "operationId": "MLS_Photos",
          "parameters": [
            {
              "name": "parcelId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "Returns the MLS photo list.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MLSPhotoViewModel"
                  }
                }
              }
            },
            "404": {
              "description": "Requested parcel ID not found.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/MLS/Photos/{parcelId}/{photoId}": {
        "get": {
          "tags": [
            "MLS"
          ],
          "summary": "Get specific MLS Photo by parcel and photo ID.",
          "operationId": "MLS_Photos2",
          "parameters": [
            {
              "name": "parcelId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              },
              "x-position": 1
            },
            {
              "name": "photoId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "Returns the requested photo.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            },
            "404": {
              "description": "Requested photos not found.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Monitors/portfolio/{PortfolioName}": {
        "get": {
          "tags": [
            "Monitors"
          ],
          "summary": "Get or create portfolio details",
          "operationId": "Monitors_CreatePortfolio",
          "parameters": [
            {
              "name": "PortfolioName",
              "in": "path",
              "required": true,
              "description": "Your portfolio name",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MonitorModelView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Monitors/advantage": {
        "get": {
          "tags": [
            "Monitors"
          ],
          "summary": "[Deprecated] Create a new Monitoring portfolio",
          "operationId": "Monitors_Create",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "city",
              "in": "query",
              "description": "The city for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "state",
              "in": "query",
              "description": "The state for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MonitorResponseView"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Monitors"
          ],
          "summary": "Create a multiple property Monitoring portfolio using CSV file.",
          "operationId": "Monitors_CreateMonitorByCSV",
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PortfolioId": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "CsvFile": {
                      "type": "string",
                      "format": "binary",
                      "nullable": true
                    },
                    "StartDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MonitorValidationResponseView"
                  }
                }
              }
            },
            "400": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MonitorValidationResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Monitors/order/{orderId}": {
        "get": {
          "tags": [
            "Monitors"
          ],
          "summary": "Retrieve an existing Monitoring Report by ID",
          "operationId": "Monitors_GetMonitorDetailByOrderId",
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MonitorValidationResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Monitors/advantage/{id}": {
        "get": {
          "tags": [
            "Monitors"
          ],
          "summary": "[Deprecated] Retrieve an existing Monitoring Report by ID",
          "operationId": "Monitors_Get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MonitorResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Parcels/detail": {
        "post": {
          "tags": [
            "Parcels"
          ],
          "operationId": "Parcels_GetParcelsDetailRequest",
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ParcelsDetailResponseModel"
                  }
                }
              }
            },
            "204": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MetadataV5"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Parcels": {
        "post": {
          "tags": [
            "Parcels"
          ],
          "operationId": "Parcels_ReadAsString",
          "parameters": [
            {
              "name": "leaveOpen",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              },
              "x-position": 2
            }
          ],
          "requestBody": {
            "x-name": "requestBody",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "nullable": false
                }
              }
            },
            "required": true,
            "x-position": 1
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Parcels/detailWithComp": {
        "post": {
          "tags": [
            "Parcels"
          ],
          "operationId": "Parcels_GetParcelCompsDetail",
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ParcelCompsDetailResponseModel"
                  }
                }
              }
            },
            "204": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MetadataV5"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Title/advantage/{id}": {
        "get": {
          "tags": [
            "Title"
          ],
          "summary": "Retrieve an existing Title report by ID",
          "operationId": "Title_Get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TitleResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Title/advantage": {
        "get": {
          "tags": [
            "Title"
          ],
          "summary": "Get a new Title Report",
          "operationId": "Title_Get2",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "city",
              "in": "query",
              "description": "The city for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            },
            {
              "name": "state",
              "in": "query",
              "description": "The state for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 4
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TitleResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/advantage/{id}": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Retrieve an existing RELAR Full Report by ID",
          "operationId": "Valuation_GetById",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Report5ModelView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/advantage": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Get a new RELAR Full Report",
          "operationId": "Valuation_Get",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Report5ModelView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/simple/{id}": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Get an existing RELAR Simple Report by ID",
          "operationId": "Valuation_GetSimple",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CompResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/simple": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Get a new RELAR Simple Valuation Report",
          "operationId": "Valuation_CreateSimple",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ValuationSimpleResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/ranged/{id}": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Get an existing RELAR Ranged Report by ID",
          "operationId": "Valuation_GetRanged",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RangedResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/ranged": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Get a new RELAR Ranged Report",
          "operationId": "Valuation_CreateRanged",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RangedResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/estimate": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Create a new Quantarium Full Report",
          "operationId": "Valuation_CreateEstimates",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "description": "The full street address for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "description": "The 5 digit ZIP code for the subject property",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            },
            {
              "name": "pcid",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 3
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EstimatesResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/estimate/{id}": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Retrieve an existing Quantarium Full Report by ID",
          "operationId": "Valuation_GetEstimates",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID for the report to retrieve",
              "schema": {
                "type": "string"
              },
              "x-position": 1
            },
            {
              "name": "pcid",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EstimatesResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/qvmsimple": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Create a new Quantarium Simple",
          "operationId": "Valuation_CreateQVMSimple",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/QVMSimpleResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/qvmsimple/{id}": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Get an existing Quantarium Simple",
          "operationId": "Valuation_GetQVMSimple",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/QVMSimpleResponseView"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/collateral/{id}": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Retrieve an existing Quantarium Collateral",
          "operationId": "Valuation_GetCollateralById",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "x-position": 1
            }
          ],
          "responses": {
            "200": {
              "description": "Returns the quantarium collateral report.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Report15ModelView"
                  }
                }
              }
            },
            "404": {
              "description": "Requested ID not found.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/Valuation/collateral": {
        "get": {
          "tags": [
            "Valuation"
          ],
          "summary": "Create a new Quantarium Collateral",
          "operationId": "Valuation_CreateCollateral",
          "parameters": [
            {
              "name": "streetAddress",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 1
            },
            {
              "name": "zip",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              },
              "x-position": 2
            }
          ],
          "responses": {
            "200": {
              "description": "Returns the quantarium collateral report.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Report15ModelView"
                  }
                }
              }
            },
            "404": {
              "description": "Requested data not found.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "ServiceResponseOfAuthenicatedUser": {
          "allOf": [
            {
              "$ref": "#/components/schemas/ServiceResponse"
            },
            {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "data": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AuthenicatedUser"
                    }
                  ]
                }
              }
            }
          ]
        },
        "AuthenicatedUser": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "loginID": {
              "type": "integer",
              "format": "int64"
            },
            "userName": {
              "type": "string",
              "nullable": true
            },
            "userPwd": {
              "type": "string",
              "nullable": true
            },
            "firstName": {
              "type": "string",
              "nullable": true
            },
            "lastName": {
              "type": "string",
              "nullable": true
            },
            "userCompanyID": {
              "type": "integer",
              "format": "int32"
            },
            "userCompanyName": {
              "type": "string",
              "nullable": true
            },
            "companyID": {
              "type": "integer",
              "format": "int32"
            },
            "companyName": {
              "type": "string",
              "nullable": true
            },
            "customerID": {
              "type": "integer",
              "format": "int64"
            },
            "isAdmin": {
              "type": "boolean"
            },
            "userType": {
              "type": "string",
              "nullable": true
            },
            "email": {
              "type": "string",
              "nullable": true
            },
            "customerUID": {
              "type": "string",
              "format": "guid"
            },
            "isFirstTime": {
              "type": "boolean"
            },
            "productIDs": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/ValueTupleOfIntegerAndShort"
              }
            },
            "companyList": {
              "type": "object",
              "nullable": true,
              "additionalProperties": {
                "type": "string"
              }
            },
            "customerAcess": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CustomerCanConfigure"
                }
              ]
            },
            "acumiAPIKey": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "ValueTupleOfIntegerAndShort": {
          "type": "object",
          "additionalProperties": false
        },
        "CustomerCanConfigure": {
          "type": "object",
          "additionalProperties": false
        },
        "ServiceResponse": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "errorMessages": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            },
            "successful": {
              "type": "boolean"
            }
          }
        },
        "LoginViewModel": {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "userName",
            "password"
          ],
          "properties": {
            "userName": {
              "title": "User Name",
              "type": "string",
              "minLength": 1
            },
            "password": {
              "title": "Password",
              "type": "string",
              "minLength": 1
            }
          }
        },
        "EmailAddressModel": {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "emailAddress"
          ],
          "properties": {
            "emailAddress": {
              "title": "Email Address",
              "type": "string",
              "minLength": 1
            }
          }
        },
        "UserNameModel": {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "userName"
          ],
          "properties": {
            "userName": {
              "title": "User Name",
              "type": "string",
              "minLength": 1
            }
          }
        },
        "CompResponseView": {
          "type": "object",
          "description": "Comparables Response View",
          "additionalProperties": false,
          "properties": {
            "metadata": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MetadataV2"
                }
              ]
            },
            "mlsData": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CompsMLSData"
                }
              ]
            },
            "titleData": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TitleData"
                }
              ]
            },
            "analysis": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Analysis"
                }
              ]
            },
            "searchLists": {
              "type": "object",
              "nullable": true,
              "additionalProperties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CompData"
                }
              }
            },
            "chartJpeg": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "MetadataV2": {
          "type": "object",
          "description": "Request Meta data",
          "additionalProperties": false,
          "properties": {
            "requestDate": {
              "type": "string",
              "description": "Date request was processed",
              "nullable": true
            },
            "requestId": {
              "type": "integer",
              "description": "Unique ID for the request",
              "format": "int64",
              "default": 0
            },
            "propertyAddress": {
              "type": "string",
              "nullable": true
            },
            "request": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/RequestData"
                }
              ]
            },
            "reportPDFLink": {
              "type": "string",
              "description": "Link to PDF version of report",
              "nullable": true
            },
            "customerId": {
              "type": "integer",
              "description": "Customer Id",
              "format": "int64",
              "default": 0
            },
            "correlationId": {
              "type": "string",
              "description": "Co relation Id",
              "nullable": true
            },
            "statusCode": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "status": {
              "type": "string",
              "nullable": true
            },
            "message": {
              "type": "string",
              "nullable": true
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "RequestData": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "propertyAddress": {
              "type": "string",
              "description": "The ID for the customer placing the order",
              "nullable": true
            },
            "addressComponents": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AddressPart"
                }
              ]
            }
          }
        },
        "AddressPart": {
          "allOf": [
            {
              "$ref": "#/components/schemas/PropertyAddress"
            },
            {
              "type": "object",
              "additionalProperties": false
            }
          ]
        },
        "PropertyAddress": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "streetName": {
              "type": "string",
              "nullable": true
            },
            "city": {
              "type": "string",
              "nullable": true
            },
            "state": {
              "type": "string",
              "nullable": true
            },
            "zip": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "CompsMLSData": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MlsData"
            },
            {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "predictedPrice": {
                  "type": "string",
                  "nullable": true
                },
                "gla": {
                  "type": "integer",
                  "format": "int32",
                  "nullable": true
                }
              }
            }
          ]
        },
        "MlsData": {
          "allOf": [
            {
              "$ref": "#/components/schemas/ListingData"
            },
            {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "landUseCode": {
                  "type": "string",
                  "nullable": true
                },
                "reportedLandUseCode": {
                  "type": "string",
                  "nullable": true
                },
                "lastSalePrice": {
                  "type": "string",
                  "nullable": true
                },
                "lastSaleDate": {
                  "type": "string",
                  "nullable": true
                },
                "analysisDate": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          ]
        },
        "ListingData": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseParcel"
            },
            {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "schoolDistrict": {
                  "type": "string",
                  "nullable": true
                },
                "subdivision": {
                  "type": "string",
                  "nullable": true
                },
                "waterDistrict": {
                  "type": "string",
                  "nullable": true
                },
                "price": {
                  "type": "string",
                  "nullable": true
                },
                "statusDate": {
                  "type": "string",
                  "nullable": true
                },
                "daysOnMarket": {
                  "type": "string",
                  "nullable": true
                },
                "specialCircumstances": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          ]
        },
        "BaseParcel": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "apn": {
              "type": "string",
              "nullable": true
            },
            "mlsListingNumber": {
              "type": "string",
              "nullable": true
            },
            "address": {
              "type": "string",
              "nullable": true
            },
            "city": {
              "type": "string",
              "nullable": true
            },
            "county": {
              "type": "string",
              "nullable": true
            },
            "state": {
              "type": "string",
              "nullable": true
            },
            "zip": {
              "type": "string",
              "nullable": true
            },
            "lat": {
              "type": "string",
              "nullable": true
            },
            "lon": {
              "type": "string",
              "nullable": true
            },
            "size": {
              "type": "string",
              "nullable": true
            },
            "beds": {
              "type": "string",
              "nullable": true
            },
            "baths": {
              "type": "string",
              "nullable": true
            },
            "rooms": {
              "type": "string",
              "nullable": true
            },
            "stories": {
              "type": "string",
              "nullable": true
            },
            "fireplaces": {
              "type": "string",
              "nullable": true
            },
            "yearBuilt": {
              "type": "string",
              "nullable": true
            },
            "lotSize": {
              "type": "string",
              "nullable": true
            },
            "garages": {
              "type": "string",
              "nullable": true
            },
            "pool": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "TitleData": {
          "allOf": [
            {
              "$ref": "#/components/schemas/BaseParcel"
            },
            {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "landValue": {
                  "type": "string",
                  "nullable": true
                },
                "improvementValue": {
                  "type": "string",
                  "nullable": true
                },
                "taxValue": {
                  "type": "string",
                  "nullable": true
                },
                "ownerName": {
                  "type": "string",
                  "nullable": true
                },
                "taxAmt": {
                  "type": "string",
                  "nullable": true
                },
                "firstMtgAmt": {
                  "type": "string",
                  "nullable": true
                },
                "secMtgAmt": {
                  "type": "string",
                  "nullable": true
                },
                "mtgDate": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          ]
        },
        "Analysis": {
          "type": "object",
          "description": "The details of property of analysis.",
          "additionalProperties": false,
          "properties": {
            "houseWorth": {
              "description": "The analysis of property valuation.",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/HouseWorth"
                }
              ]
            },
            "timeSell": {
              "type": "object",
              "description": "The predicted market time (days) of property.",
              "nullable": true,
              "additionalProperties": {
                "$ref": "#/components/schemas/StatisticalData"
              }
            },
            "priceTime": {
              "type": "object",
              "description": "The predicted market price and time (days) of property.",
              "nullable": true,
              "additionalProperties": {
                "$ref": "#/components/schemas/StatisticalData"
              }
            },
            "confidenceScores": {
              "type": "object",
              "description": "The property confidence scores.",
              "nullable": true,
              "additionalProperties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ConfidenceScore"
                }
              }
            }
          }
        },
        "HouseWorth": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "valuations": {
              "type": "object",
              "nullable": true,
              "additionalProperties": {
                "$ref": "#/components/schemas/StatisticalData"
              }
            },
            "priceToSalesRatio": {
              "type": "string",
              "nullable": true
            },
            "dailyListToSaleChange": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "StatisticalData": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "value": {
              "type": "string",
              "nullable": true
            },
            "variance": {
              "type": "string",
              "nullable": true
            },
            "confidence": {
              "type": "string",
              "nullable": true
            },
            "forecastedStdDev": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "ConfidenceScore": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "code": {
              "type": "string",
              "nullable": true
            },
            "message": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "CompData": {
          "allOf": [
            {
              "$ref": "#/components/schemas/ListingData"
            },
            {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "dataSource": {
                  "type": "string",
                  "nullable": true
                },
                "distance": {
                  "type": "string",
                  "nullable": true
                },
                "landValue": {
                  "type": "string",
                  "nullable": true
                },
                "improvementValue": {
                  "type": "string",
                  "nullable": true
                },
                "taxValue": {
                  "type": "string",
                  "nullable": true
                },
                "relativeScore": {
                  "type": "string",
                  "nullable": true
                },
                "lists": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          ]
        },
        "CompRadiusResponseView": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CompResponseView"
            },
            {
              "type": "object",
              "additionalProperties": false
            }
          ]
        },
        "ProblemDetails": {
          "type": "object",
          "additionalProperties": {
            "nullable": true
          },
          "properties": {
            "type": {
              "type": "string",
              "nullable": true
            },
            "title": {
              "type": "string",
              "nullable": true
            },
            "status": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "detail": {
              "type": "string",
              "nullable": true
            },
            "instance": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "CompPolygonResponseView": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CompResponseView"
            },
            {
              "type": "object",
              "additionalProperties": false
            }
          ]
        },
        "EquityResponseView": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "metaData": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EquityMetaData"
                }
              ]
            },
            "details": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EquityDetails"
                }
              ]
            }
          }
        },
        "EquityMetaData": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "propertyAddress": {
              "type": "string",
              "nullable": true
            },
            "requestDate": {
              "type": "string",
              "nullable": true
            },
            "requestId": {
              "type": "string",
              "nullable": true
            },
            "reportPDFLink": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "EquityDetails": {
          "type": "object",
          "description": "The information about equity report details.",
          "additionalProperties": false,
          "properties": {
            "status": {
              "type": "string",
              "description": "The status of request processing.",
              "nullable": true
            },
            "predictedValue": {
              "type": "number",
              "description": "The information about predicted value of equity.",
              "format": "double"
            },
            "estimatedBalance": {
              "type": "number",
              "description": "The information about estimated balance value of equity.",
              "format": "decimal"
            },
            "estimatedRate": {
              "type": "number",
              "description": "The information about estimated rate value of equity.",
              "format": "double"
            },
            "estimatedPayment": {
              "type": "number",
              "description": "The information about estimated payment value of equity.",
              "format": "decimal"
            },
            "estimatedPaymentNumber": {
              "type": "integer",
              "description": "The information about estimated payment number of equity.",
              "format": "int32"
            },
            "estimatedEquity": {
              "type": "integer",
              "description": "The information about estimated equity.",
              "format": "int32"
            },
            "requestId": {
              "type": "string",
              "description": "The equity details request id.",
              "nullable": true
            },
            "requestTime": {
              "type": "string",
              "description": "The equity details request processed date and time.",
              "format": "date-time"
            },
            "processingTime": {
              "type": "integer",
              "description": "The time taken to process the order.",
              "format": "int64"
            }
          }
        },
        "ListingResponseView": {
          "type": "object",
          "description": "Listing Response View",
          "additionalProperties": false,
          "properties": {
            "metadata": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Metadata"
                }
              ]
            },
            "delta": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Delta"
                }
              ]
            },
            "status": {
              "type": "string",
              "nullable": true
            },
            "requestId": {
              "type": "string",
              "nullable": true
            },
            "requestTime": {
              "type": "string",
              "format": "date-time"
            },
            "processingTime": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "Metadata": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "requestDate": {
              "type": "string",
              "description": "Date request was processed",
              "nullable": true
            },
            "requestId": {
              "type": "string",
              "description": "A unique ID for the request",
              "nullable": true
            },
            "propertyAddress": {
              "type": "string",
              "description": "The ID for the customer placing the order",
              "nullable": true
            },
            "reportPDFLink": {
              "type": "string",
              "description": "Link to PDF version of report",
              "nullable": true
            },
            "customerId": {
              "type": "string",
              "nullable": true
            },
            "processedTime": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "Delta": {
          "type": "object",
          "description": "The information about delta listing",
          "additionalProperties": false,
          "properties": {
            "open": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/ListingDeltaInfo"
              }
            },
            "pending": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/ListingDeltaInfo"
              }
            },
            "closed": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/ListingDeltaInfo"
              }
            },
            "cancelled": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/ListingDeltaInfo"
              }
            },
            "expired": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/ListingDeltaInfo"
              }
            }
          }
        },
        "ListingDeltaInfo": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32"
            },
            "parcelID": {
              "type": "integer",
              "format": "int32"
            },
            "apn": {
              "type": "string",
              "nullable": true
            },
            "streetNumber": {
              "type": "string",
              "nullable": true
            },
            "streetName": {
              "type": "string",
              "nullable": true
            },
            "streetDirection": {
              "type": "string",
              "nullable": true
            },
            "streetPrefix": {
              "type": "string",
              "nullable": true
            },
            "streetAddress": {
              "type": "string",
              "nullable": true
            },
            "city": {
              "type": "string",
              "nullable": true
            },
            "county": {
              "type": "string",
              "nullable": true
            },
            "state": {
              "type": "string",
              "nullable": true
            },
            "zipCode": {
              "type": "string",
              "nullable": true
            },
            "zipCode4": {
              "type": "string",
              "nullable": true
            },
            "unitNumber": {
              "type": "string",
              "nullable": true
            },
            "floor": {
              "type": "integer",
              "format": "int32"
            },
            "propertyType": {
              "type": "string",
              "nullable": true
            },
            "numberOfStructures": {
              "type": "integer",
              "format": "int32"
            },
            "structureType": {
              "type": "string",
              "nullable": true
            },
            "structureSqFeet": {
              "type": "integer",
              "format": "int32"
            },
            "structureWidthFeet": {
              "type": "integer",
              "format": "int32"
            },
            "structureDepthFeet": {
              "type": "integer",
              "format": "int32"
            },
            "structureStories": {
              "type": "integer",
              "format": "int32"
            },
            "structureBedroomCount": {
              "type": "integer",
              "format": "int32"
            },
            "structureBathroomCount": {
              "type": "number",
              "format": "decimal"
            },
            "structureRoomCount": {
              "type": "integer",
              "format": "int32"
            },
            "structureFireplace": {
              "type": "boolean"
            },
            "structureFireplaceCount": {
              "type": "integer",
              "format": "int32"
            },
            "structureYearBuilt": {
              "type": "string",
              "nullable": true
            },
            "structureRoomRecordCount": {
              "type": "integer",
              "format": "int32"
            },
            "lotSizeFeet": {
              "type": "integer",
              "format": "int32"
            },
            "lotSizeAcres": {
              "type": "number",
              "format": "decimal"
            },
            "lotWidthFeet": {
              "type": "integer",
              "format": "int32"
            },
            "lotDepthFeet": {
              "type": "integer",
              "format": "int32"
            },
            "latitude": {
              "type": "number",
              "format": "double"
            },
            "longitude": {
              "type": "number",
              "format": "double"
            },
            "community": {
              "type": "string",
              "nullable": true
            },
            "subdivision": {
              "type": "string",
              "nullable": true
            },
            "schoolDistrict": {
              "type": "string",
              "nullable": true
            },
            "boatFacility": {
              "type": "string",
              "nullable": true
            },
            "parkingDescription": {
              "type": "string",
              "nullable": true
            },
            "parkingSpaces": {
              "type": "integer",
              "format": "int32"
            },
            "pool": {
              "type": "string",
              "nullable": true
            },
            "lenderOrCourtApproval": {
              "type": "boolean"
            },
            "viewType": {
              "type": "string",
              "nullable": true
            },
            "hoa": {
              "type": "string",
              "nullable": true
            },
            "hoaFeesMonthly": {
              "type": "number",
              "format": "decimal"
            },
            "waterDistrict": {
              "type": "string",
              "nullable": true
            },
            "mlsName": {
              "type": "string",
              "nullable": true
            },
            "mlsListingNumber": {
              "type": "string",
              "nullable": true
            },
            "listStatus": {
              "type": "string",
              "nullable": true
            },
            "statusDate": {
              "type": "string",
              "nullable": true
            },
            "price": {
              "type": "number",
              "format": "decimal"
            },
            "specialCircumstance": {
              "type": "string",
              "nullable": true
            },
            "listingBroker": {
              "type": "string",
              "nullable": true
            },
            "listingBrokerPhone": {
              "type": "string",
              "nullable": true
            },
            "listingBrokerEmail": {
              "type": "string",
              "nullable": true
            },
            "sellingAgent": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "MLSFeedData": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "metadata": {
              "description": "The metadata of the listing.",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MetadataV4"
                }
              ]
            },
            "mlsParcel": {
              "type": "array",
              "description": "The listing data.",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/MLSSubject"
              }
            }
          }
        },
        "MetadataV4": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MetadataV2"
            },
            {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "requestDate": {
                  "type": "string",
                  "description": "The date request was made.",
                  "format": "date-time",
                  "nullable": true
                },
                "startDate": {
                  "type": "string",
                  "description": "The start date of the listing.",
                  "format": "date-time",
                  "nullable": true
                },
                "endDate": {
                  "type": "string",
                  "description": "The end date of the listing.",
                  "format": "date-time",
                  "nullable": true
                },
                "state": {
                  "type": "string",
                  "description": "The state of the listing.",
                  "nullable": true
                },
                "lastTransactionCreateDate": {
                  "type": "string",
                  "description": "The date the data was created.",
                  "nullable": true
                },
                "lastTransactionID": {
                  "type": "integer",
                  "description": "The last transaction ID of the listing.",
                  "format": "int32",
                  "nullable": true
                },
                "pageNo": {
                  "type": "integer",
                  "description": "The page number of the listing.",
                  "format": "int32",
                  "nullable": true
                },
                "totalPages": {
                  "type": "integer",
                  "description": "The total number of pages.",
                  "format": "int64",
                  "nullable": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The page size of the listing.",
                  "format": "int32",
                  "nullable": true
                },
                "nextUrl": {
                  "type": "string",
                  "description": "The next url of the listing.",
                  "nullable": true
                }
              }
            }
          ]
        },
        "MLSSubject": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "parcelId": {
              "type": "integer",
              "format": "int32"
            },
            "streetNumber": {
              "type": "string",
              "description": "The street number portion of a listed property's street address.  In some areas the street number may contain non-numeric characters.  This field can also contain extensions and modifiers to the street number, such as \"1/2\" or \"-B\".  This street number field should not include Prefixes, Direction or Suffixes.",
              "nullable": true
            },
            "streetPrefix": {
              "type": "string",
              "description": "The direction indicator that precedes the listed property's street name.",
              "nullable": true
            },
            "streetName": {
              "type": "string",
              "description": "The street name and suffix portion of a listed property's street address. This field should not include Prefixes or Direction.",
              "nullable": true
            },
            "streetDirection": {
              "type": "string",
              "description": "The direction indicator that follows a listed property's street address.",
              "nullable": true
            },
            "streetAddress": {
              "type": "string",
              "description": "The full street address including unit number. Does not include city, state, or postal code.",
              "nullable": true
            },
            "city": {
              "type": "string",
              "description": "The city in listing address.",
              "nullable": true
            },
            "stateProvince": {
              "type": "string",
              "description": "Text field containing the accepted postal abbreviation for the state or province.",
              "nullable": true
            },
            "postalCode": {
              "type": "string",
              "description": "The postal code portion of a street or mailing address.",
              "nullable": true
            },
            "county": {
              "type": "string",
              "description": "The County, Parish or other regional authority",
              "nullable": true
            },
            "sqFt": {
              "type": "integer",
              "description": "The total square footage of the lot.  This field is related to the Lot Size Area and Lot Size Units and must be in sync with the values represented in those fields.  Lot Size Source also applies to this field when used.",
              "format": "int32",
              "nullable": true
            },
            "apn": {
              "type": "string",
              "description": "An Assessor Parcel Number (APN) is a unique number assigned to each parcel of land by a county tax assessor.",
              "nullable": true
            },
            "beds": {
              "type": "integer",
              "description": "The total number of bedrooms in a residential property.",
              "format": "int32",
              "nullable": true
            },
            "totalBaths": {
              "type": "number",
              "description": "The total number of bathrooms in a residential property.",
              "format": "decimal",
              "nullable": true
            },
            "latitude": {
              "type": "number",
              "description": "The geographic latitude of some reference point on the property, specified in degrees and decimal parts.  Positive numbers must not include the plus symbol.",
              "format": "decimal",
              "nullable": true
            },
            "longitude": {
              "type": "number",
              "description": "The geographic longitude of some reference point on the property, specified in degrees and decimal parts. Positive numbers must not include the plus symbol.",
              "format": "decimal",
              "nullable": true
            },
            "unitNumber": {
              "type": "string",
              "description": "Text field containing the number or portion of a larger building or complex. Unit Number should appear following the street suffix or, if it exists, the street suffix direction, in the street address. Examples are: \"APT G\", \"55\", etc.",
              "nullable": true
            },
            "floor": {
              "type": "integer",
              "description": "A numeric field that describes the level within the structure, SFR or a unit in a building, where the main entry to the dwelling is located.  When a unit has one floor it is implicit that this is also the level of the unit itself.",
              "format": "int32",
              "nullable": true
            },
            "propertyType": {
              "type": "string",
              "description": "A list of types of properties such as Residential, Lease, Income, Land, Mobile, Commercial Sale, etc...",
              "nullable": true
            },
            "numberOfStructures": {
              "type": "integer",
              "description": "The total number of structures on the property.",
              "format": "int32",
              "nullable": true
            },
            "lotWidthFeet": {
              "type": "integer",
              "description": "Lot width is the horizontal distance between the side lot lines, measured at right angles to the lot depth at a point midway between the front and rear lot lines.",
              "format": "int32",
              "nullable": true
            },
            "lotDepthFeet": {
              "type": "integer",
[...]
